@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Oswald:wght@300&display=swap');



body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: beige;
}


div.body {

    /* enlever les marges */
    margin: 0px;
    padding: 0px;
    background-color: white;
    position: absolute;
    /* mettre au milieu de page */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* changer la police d'écriture */
    font-family: 'Oswald', sans-serif;
    /* mettre texte en gras */
    font-weight: bold;
}

section.navigation nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    border-style: groove;

}

section.navigation nav .profile {
    display: flex;
    align-items: center;
}

section.navigation nav .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

section.navigation nav .profile h1 {
    margin-left: 10px;
    font-size: 15px;

}

section.navigation nav ul {
    display: flex;
    list-style-type: none;
    margin-right: 15px;
}

section.navigation nav ul p {
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid white;
}

a {
    text-decoration: none;
    color: black;
}


section.navigation nav ul p:hover {
    border-bottom-color: black;
}

form {
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 10px;
    border-style: double;
}

form h1 {
    font-size: 20px;
}

form .separation {
    width: 100%;
    height: 1px;
    background-color: black;
}

form .corps-formulaire {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

form .corps-formulaire .boite {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

form .corps-formulaire .gauche .boite input {
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid #c9c9c9;
    /* couleur bord de l'input */
    outline-color: black;
    border-radius: 5px;
    cursor: pointer;
}

form .corps-formulaire .gauche .boite i {
    /* mettre les icone au milieu de l'input */
    position: absolute;
    left: 0%;
    top: 30px;
    padding: 9px 8px;
    color: black;

}

form .corps-formulaire .droite {
    margin-left: 40px;
}

form .corps-formulaire .droite .boite {
    height: 100%;
}

form .corps-formulaire .droite .boite textarea {
    margin-top: 5px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 2px solid black;

    border-radius: 5px;
    /* pour ne pas redimenssioner le bloc */
    resize: none;
    height: 72%;

}



form .btn-formulaire button {
    margin-top: 10px;
    background-color: black;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    /* transition de 0.5 seconde sur le button  */
    transition: all 0.2s;
    transition: transform 0.5s;
    border: none;
    /* pourne pas agrandir la taille de l'élément  */
    box-sizing: border-box;
}

form .btn-formulaire button:hover {
    /* effet du button  */
    transform: scale(1.05);
    /* oppacité du button  */
    opacity: .8;
}


@media screen and (max-width:920px) {

    section.navigation nav {
        border-style: none;
        justify-content: center;
        padding: 0;
    }

    form .corps-formulaire .droite {
        margin-left: 0px;
    }
}