/* import de style pour le body */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Oswald:wght@300&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    border-style: groove;

}

nav .profile {
    display: flex;
    align-items: center;
}

nav .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

nav .profile h1 {
    margin-left: 10px;
    font-size: 15px;

}

nav ul {
    display: flex;
    list-style-type: none;
    margin-right: 10px;
}


nav ul p {
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid white;
    position: relative;
}

nav ul p:hover {
    border-bottom-color: black;
    transition: 0.3s all ease-in-out;
}



/* pour enlever le violet sur les liens */
a {
    text-decoration: none;
    color: black;
}

.page-content {
    margin: 4%;
}

.page-content header {
    margin-top: 5%;
    max-width: 80%;
}

.page-content header h1 {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 90px;
}

.page-content header p {
    line-height: 30px;
    color: gray;
}


.page-content .presentation-image {
    margin-top: 5%;
}

.page-content .presentation-image img {
    max-width: 100%;
    height: auto;
}


footer {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 10px;
}

footer .colonne a {
    text-decoration: none;
    color: #ccc;
}

footer .colonne p {
    font-size: 12px;
    color: #ccc;
    cursor: pointer;
}

footer .colonne p:hover {
    color: white;
}

footer .colonne a:hover {
    color: white;
}



header .burger {
    display: none;
}

header .burger svg {
    stroke: black;
    width: 30px;
    height: 30px;
}

header .close {
    display: none;
}



/* Pour tout format */
@media screen and (max-width: 500px) {
    nav {
        border-style: none;
    }

    nav ul {
        align-items: center;
        text-decoration: underline;
    }

    .page-content header {
        margin-top: 10%;
        max-width: 100%;
    }

    footer {
        justify-content: flex-start;
    }

    footer .colonne {
        width: 80%;
    }

    nav .menu {
        display: flex;
    }

    header .burger {
        display: block;
        margin-right: 19px;
        cursor: pointer;
    }

    header .nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        height: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-style: groove;
        display: none;
    }

    /* pour enlever l'animation bug qaund on réduit l'écran */
    header .nav.open {
        display: flex;
        animation: transformMenu 300ms ease-in-out forwards;
    }

    @keyframes transformMenu {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: initial;
        }

    }

    header .nav ul {
        flex-direction: column;
        align-items: flex-start;
        margin-right: 0;
        margin-bottom: 20px;
        font-size: 25px;
        
    }

    header .close {
        display: block;
        cursor: pointer;
    }

    header .close svg {
        stroke: black;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 15px;
        right: 16px;
    }

    header .close h1 {
        stroke: black;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0px;
        right: 200px;
        text-decoration:underline;
        left: 61px;

    }

    .mobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        display: none;
    }

    .mobile.open {
        display: block;
    }




}